
MySampleFramework/SampleFramework/Library
MySampleFramework/SampleFramework/Temp
MySampleFramework/SampleFramework/ProjectSettings
MySampleFramework/SampleFramework/Logs
data

KProject/obj/
KProject/Logs/